<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Suite" verbose="1" parallel="false">
    <test name="TestNG Tests">
        <!-- <groups>
            <dependencies>
                <group name="validate_all_products_info" depends-on="successful_login" />
            </dependencies>
        </groups> -->
        <classes>
            <class name="com.saucedemo.tests.CartTest">
                <!-- <methods>
                    <include name="validateSpanIsDisplayed" />
                    <include name="validateCartWithItems" />
                </methods> -->
            </class>
            <class name="com.saucedemo.tests.CheckoutInfoTest">
                <!-- <methods>
                    <include name="validateSpanIsDisplayed" />
                    <include name="validateCartWithItems" />
                </methods> -->
            </class>
            <!-- <class name="com.saucedemo.tests.LoginTest">
                <methods>
                    <exclude name="invalidLoginDetails" />
                </methods>
            </class>
            <class name="com.saucedemo.tests.ProductsTest">
                <methods>
                    <include name="validateAllProductInfo" />
                </methods>
            </class> -->
        </classes>
    </test>
</suite>